<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="form">
        <form th:method="post" th:action="@{/admin/registration}" th:object="${userDto}" style="display:inline;">
            <div>
                <label for="firstName">Enter first name: </label>
                <input type="text" th:field="*{firstName}" id="firstName"
                       class="form-control" placeholder="First name"/>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red"></span>
            </div>
            <div>
                <label for="lastName">Enter last name: </label>
                <input type="text" th:field="*{lastName}" id="lastName"
                       class="form-control" placeholder="Last name"/>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red"></span>
            </div>
            <div>
                <label for="age">Enter age: </label>
                <input type="number" th:field="*{age}" id="age"
                       class="form-control" placeholder="Age"/>
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color:red"></span>
            </div>
            <div>
                <label for="email">Enter email: </label>
                <input type="text" th:field="*{email}" id="email"
                       class="form-control" placeholder="Email"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span>
            </div>
            <div>
                <label for="password">Enter password: </label>
                <input type="password" th:field="*{password}" id="password"
                       class="form-control" placeholder="password"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></span>
            </div>
            <div>
                <label for="passwordConfirm">Confirm password: </label>
                <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm"
                       class="form-control" placeholder="Confirm password"/>
                <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" style="color:red"></span>
            </div>
            <div>
                <label for="roles">Select role: </label>
                <select multiple class="form-control" th:field="*{roles}" id="roles">
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.roleName.substring(5).toLowerCase()}"></option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Add new user</button>
        </form>
    </div>
</body>
</html>