<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="users_navbar">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-text text-white" style="font-size: 1.3rem;">
                    <strong><span th:text="${#authentication.name}"></span></strong>
                    with roles:
                    <span th:each="role, iterStat : ${#authentication.principal.authorities}"
                          th:text="${role.getAuthority().replace('ROLE_', ' ')}"></span>
                </span>
                <form th:method="post" th:action="@{/logout}" class="nav-link active text-white"
                      onclick="event.preventDefault(); this.closest('form').submit();">
                    <a class="logout-link" href="#" type="submit" style="">Logout</a>
                </form>
            </div>
        </nav>
    </div>
</body>
</html>