.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.login-form {
    width: 400px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 50px auto auto;
}

.btn-primary {
    height: 60px;
}

label {
    display: inline;
}