#registration-form .form-container {
    max-width: 300px;
    margin: 0 auto;
 }

#registration-form .form-container div {
    margin-bottom: 20px;
}

#registration-form label {
    font-weight: bold;
    display: block;
    text-align: center;
}

#registration-form .btn-center {
    display: block;
    margin: 0 auto;
}