<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="form">
        <div>
            <label for="firstName">First name</label>
            <input type="text" th:field="*{firstName}" id="firstName"
                   class="form-control" placeholder="First name" minlength="3" maxlength="18" required/><br>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                 class="alert alert-danger" role="alert" style="color:red; text-align: center;"></div>
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input type="text" th:field="*{lastName}" id="lastName"
                   class="form-control" placeholder="Last name" minlength="3" maxlength="18" required/><br>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                 class="alert alert-danger" role="alert" style="color:red; text-align: center;"></div>
        </div>
        <div>
            <label for="age">Age</label>
            <input type="number" th:field="*{age}" id="age"
                   class="form-control" placeholder="Age" min="14" max="125" required/><br>
            <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                 class="alert alert-danger" role="alert" style="color:red; text-align: center;"></div>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" id="email"
                   class="form-control" placeholder="Email" required/><br>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                 class="alert alert-danger" role="alert" style="color:red; text-align: center;"></div>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" id="password"
                   class="form-control" placeholder="Password" minlength="6" maxlength="18" required/><br>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                 class="alert alert-danger" role="alert" style="color:red; text-align: center;"></div>
        </div>
        <div>
            <label for="passwordConfirm">Confirm password</label>
            <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm"
                   class="form-control" placeholder="Confirm password" minlength="6" maxlength="18" required/><br>
            <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
                 class="alert alert-danger" role="alert" style="color:red; text-align: center;"></div>
            <div id="password-error" class="alert alert-danger" role="alert" style="color:red; text-align: center; display: none;">
                Passwords do not match.
            </div>
        </div>

        <script>
            document.getElementById('passwordConfirm').addEventListener('input', function() {
                const password = document.getElementById('password').value;
                const confirmPassword = this.value;
                const errorMessage = document.getElementById('password-error');

                if (confirmPassword !== password) {
                    errorMessage.style.display = 'block';
                } else {
                    errorMessage.style.display = 'none';
                }
            });
        </script>

        <div>
            <label for="roles">Role</label>
            <select multiple class="form-control" th:field="*{roles}" id="roles" size="2" required>
                <option th:each="role : ${roles}"
                        th:value="${role.id}"
                        th:text="${role.roleName.substring(5)}"></option>
            </select><br>
            <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
                 class="alert alert-danger" role="alert" style="color:red; text-align: center; max-width: 250px;"></div>
        </div>
    </div>
</body>
</html>